body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-roboto: Roboto;
  --font-noto-sans: "Noto Sans";
  --text-single-100-regular: Inter;
  --font-bebas-neue: "Bebas Neue";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --text-single-600-semi-bold-size: 18px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-11xl: 30px;
  --font-size-5xl: 24px;
  --text-single-100-regular-size: 8px;
  --text-single-200-regular-size: 10px;
  --font-size-4xs: 9px;
  --text-single-300-semi-bold-size: 12px;

  /* Colors */
  --neutral-colors-white: #fff;
  --color-steelblue-100: #469ec5;
  --color-orange: #ffb502;
  --color-gainsboro-100: #ddd;
  --color-black: #000;
  --color-darkslategray-100: #4b4b4b;
  --color-darkslategray-200: #2e3f53;
  --color-darkgoldenrod: #cc8200;
  --neutral-colors-600: #868da6;
  --brand-brand-4: #fdfefe;
  --neutral-colors-800: #19213c;
  --color-gray-100: rgba(0, 0, 0, 0.16);
  --primary-colors-blue: #2388ff;
  --neutral-colors-700: #5d6481;
  --secondary-colors-blue-400: #4e9fff;

  /* Gaps */
  --gap-7xl: 26px;
  --gap-xl: 20px;
  --gap-21xl: 40px;
  --gap-3xl: 22px;
  --gap-2xs: 11px;
  --gap-5xl: 24px;
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-8xl: 27px;
  --gap-10xl: 29px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-sm: 14px;
  --gap-9xs: 4px;
  --gap-mid: 17px;
  --gap-10xs-6: 2.6px;
  --gap-sm-9: 13.9px;
  --gap-2xl-6: 21.6px;
  --gap-19xl-4: 38.4px;
  --gap-10xs-5: 2.5px;
  --gap-lgi: 19px;
  --gap-2xl-7: 21.7px;
  --gap-2xl: 21px;
  --gap-39xl: 58px;
  --gap-11xl: 30px;
  --gap-11xs: 2px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-7xs: 6px;
  --padding-16xl: 35px;
  --padding-5xs: 8px;
  --padding-20xl: 39px;
  --padding-21xl: 40px;
  --padding-7xl: 26px;
  --padding-56xl: 75px;
  --padding-18xl: 37px;
  --padding-mini: 15px;
  --padding-xl: 20px;
  --padding-xs: 12px;
  --padding-51xl: 70px;
  --padding-11xs: 2px;
  --padding-6xs: 7px;
  --padding-44xl: 63px;
  --padding-19xl: 38px;
  --padding-2xs: 11px;
  --padding-6xl: 25px;
  --padding-11xl-2: 30.2px;
  --padding-22xl-4: 41.4px;
  --padding-8xl: 27px;
  --padding-49xl: 68px;
  --padding-10xs-9: 2.9px;
  --padding-11xl: 30px;
  --padding-7xs-5: 5.5px;
  --padding-12xl: 31px;
  --padding-12xl-9: 31.9px;
  --padding-2xl: 21px;
  --padding-42xl: 61px;
  --padding-10xs-1: 2.1px;
  --padding-13xl: 32px;
  --padding-11xs-9: 1.9px;
  --padding-7xs-4: 5.4px;
  --padding-3xs: 10px;
  --padding-27xl: 46px;
  --padding-31xl: 50px;
  --padding-22xl: 41px;
  --padding-lg: 18px;
  --padding-8xs: 5px;
  --padding-10xs: 3px;
  --padding-5xl: 24px;

  /* Border radiuses */
  --br-4xs: 9px;
  --br-sm: 14px;
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-5xl: 24px;

  /* Effects */
  --card-blue: 0px 3px 12px rgba(35, 136, 255, 0.33);
  --shadow-card: 0px 2px 4px rgba(48, 95, 151, 0.02),
    0px 2px 19px rgba(48, 95, 151, 0.07);
  --shadow: 0px -1px 4px rgba(48, 95, 151, 0.2),
    0px -4px 20px rgba(48, 95, 151, 0.2);
}
